<?xml version="1.0"?>

<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="world_name" default="world"/>
  <arg name="verbose" default="false"/>

  <arg name="robot_namespace" default="/"/>
  <arg name="schunk_robot_type" default="red"/>
  <arg name="enable_velodyne" default="false"/>
  <arg name="mount_brick_baskets" default="false"/>
  <arg name="end_effector_type" default="plate"/>

  <arg name="model_type" default="uav" />

  <arg name="name" default="uav" />
  <arg name="x" default="2.0" />
  <arg name="y" default="2.0" />
  <arg name="z" default="0.0" />

  <arg name="manipulator_type" default="asap_manipulator" />
  <arg name="manipulator_tool" default="rod" />
  <arg name="start_gazebo" default="true" />
  <arg name="mount_magnet" default="false" />
  <arg name="mount_magnet_with_disk" default="false" />
  <arg name="magnet_dipole_moment_z" default="1" />

  <arg name="plate_x" default="0.5"/>
  <arg name="plate_y" default="0.5"/>
  <arg name="plate_z" default="0.01"/>
  <arg name="plate_m" default="0.5"/>

  <arg name="uav_x" default="2"/>
  <arg name="uav_y" default="2"/>

  <arg name="enable_logging" default="true"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="uav"/>

  <arg name="namespace" default="uav"/>
  <arg name="namespace_ugv" default="ugv"/>

  <arg name="impedance_control_rate" default="100"/>
  <arg name="impedance_control_params_file" default="/config/impedance_control_params.yaml"/>

  <node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0"/>

  <!-- Launch gazebo -->
  <group if="$(arg start_gazebo)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
  </group>

  <include file="$(find mmuav_description)/launch/spawn_uav.launch">
      <arg name="model_type" value="$(arg model_type)" />
      <arg name="name" value="$(arg name)" />
      <arg name="x" value="$(arg x)" />
      <arg name="y" value="$(arg y)" />
      <arg name="z" value="$(arg z)" />
      <arg name="manipulator_type" value="$(arg manipulator_type)" />
      <arg name="manipulator_tool" value="$(arg manipulator_tool)" />
      <arg name="mount_magnet" value="$(arg mount_magnet)" />
      <arg name="mount_magnet_with_disk" value="$(arg mount_magnet_with_disk)" />
      <arg name="magnet_dipole_moment_z" value="$(arg magnet_dipole_moment_z)" />
  </include>

  <group if="$(eval 'asap_manipulator' == manipulator_type)">
    <include file="$(find aerial_manipulators_control)/launch/asap_manipulator_gazebo_control.launch">
        <arg name="namespace" value="$(arg name)" />
    </include>
  </group>

  <!-- Start attitude height control -->
  <include file="$(find mmuav_control)/launch/rotors_variation_attitude_position_control.launch">
        <arg name="namespace" value="$(arg name)" />
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="run_trajectory_node" value="$(eval 'none' == manipulator_type)" />
  </include>

</launch>