<launch>
  <arg name="mav_name"    default="euroc3"/>
  <arg name="namespace"   default="$(arg mav_name)" />
  <arg name="odometry"    default="odometry" />
  <arg name="traj_in"     default="position_hold/trajectory_out" />
  <arg name="traj_out"    default="position_hold/trajectory" />
  <arg name="simulation"  default="false" />

  <group ns="$(arg namespace)" >

    <node pkg="impedance_control" type="impedance_control_node" name="impedance_control" output="screen">

  </group>

</launch>

