<?xml version="1.0"?>

<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="world_name" default="world"/>
  <arg name="verbose" default="false"/>

  <arg name="enable_logging" default="true"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="uav"/>

  <arg name="namespace" default="uav"/>

  <node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0"/>

  <include file="$(find mmuav_gazebo)/launch/uav_attitude_position.launch">
    <arg name="manipulator_type" value="wp_manipulator" />
  </include>
  <include file="$(find mmuav_description)/launch/spawn_wall.launch" />

  <group ns="$(arg namespace)">
    <node name="impedance_control_node" pkg="impedance_control" type="impedance_control_node" output="screen">
      <remap from="impedance_control/force_torque_meas_input" to="force_sensor/force_torque_output" />
      <remap from="impedance_control/odometry_meas_input" to="odometry" />
      <remap from="impedance_control/pose_output" to="pose_ref" />
    </node>
    <node name="force_filter_node" pkg="impedance_control" type="force_filter_node">
      <remap from="force_sensor/force_torque_global_input" to="/force_sensor/ft_sensor" />
    </node>
  </group>

</launch>